<ion-view view-title="Form">
  <ion-content   style="background: url(img/DgQxreIzQAm4weQPAFUQ_QQE688AAE59BBE20170211232519.jpg) no-repeat center;background-size:cover;">





    <form id="exampleForm-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="exampleForm-toggle2">Example Bar</ion-toggle>
      <ion-radio id="exampleForm-radio2">Example Bar</ion-radio>
      <label class="item item-input" id="exampleForm-input2">
        <span class="input-label">Example Input</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="exampleForm-button37" class="button button-positive  button-block">Submit</button>


  </ion-content>
</ion-view>
