<ion-view view-title="History" cache-view="false">
  <ion-content>

      <label class="item item-input" >
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="searchText">
      </label>


    <div ng-show="isLogin == true" class="card" ng-repeat="obj in history | filter:searchText" ng-click="gotoHistory([obj.id])">
      <div class="item item-divider button-balanced" style="background-color: #33cd5fcc">
        created on {{obj.date}}
      </div>
      <div class="item item-text-wrap">
        latitude {{obj.lat}}
      </div>
      <div class="item item-text-wrap">
        longitude {{obj.lon}}
      </div>
      <div class="item item-text-wrap">
        # pic ?
      </div>
    </div>

  </ion-content>
</ion-view>
