<ion-view view-title="camera" cache-view="false">

  <ion-content>
    <button class="button button-positive  button-block" ng-click="addImage()">add new image</button>

    <div ng-repeat="tmpObj in images">
        <img ng-src="{{tmpObj.value}}" style="width:300px;height:200px;">
        <button class="button button-danger" ng-click="deleteImg(tmpObj.id)">delete</button>
    </div>

    <!-- <pre> imgage = {{images | json }}</pre> -->
    <pre> count = {{imgCount | json }}</pre>

    <button class="button button-positive  button-block" ng-click="submit()">submit</button>


    </ion-content>
</ion-view>
