<ion-view title="camera" cache-view="false">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-camera" ng-click="addImage()">
    </button>
  </ion-nav-buttons>


  <ion-content>
    <textarea  ng-model="description" rows="4" style="width: 94%; height: 122px;margin: 3%;border: 3px #94daa1 solid;"></textarea>

  <!-- <pre> description = {{description | json }}</pre> -->


    <p style="margin:3%;">click image to delete</p>
    <div ng-repeat="tmpObj in images" style="width: 94%;margin:3%;">
        <img ng-src="{{tmpObj.value}}" style="width:70%;" ng-click="deleteImg(tmpObj.id)">
    </div>

    <!-- <pre> count = {{imgCount | json }}</pre> -->
  <div class="padding">
    <button class="button button-positive  button-block" ng-click="submit(description)">submit</button>
    <button class="button button-balanced  button-block" ng-click="history()">history</button>
  </div>


    </ion-content>
</ion-view>
