<ion-view view-title="{{name}}">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-camera" ng-click="addImage()">
    </button>
  </ion-nav-buttons>
  <ion-content>

    <div>
      <form novalidate class="css-form">
        <div class="padding">
          <button class="button button-balanced  button-block" ng-click="saveForm(form)">Save Current Data</button>
        </div>
        <div class="list">
          <label ng-repeat="obj in date track by $index" class="item item-input item-stacked-label ">
              <span class="input-label">{{obj}}</span>
              <input type="date" ng-model="form.date[$index].value" required />
              <input type="hidden" ng-model="form.date[$index].name" ng-init = "form.date[$index].name = obj"></input>
            </label>

          <label ng-repeat="obj in time track by $index" class="item item-input item-stacked-label">
              <span class="input-label">{{obj}}</span>
              <!-- <input ng-model="form.time.name" value="obj" /> -->
              <input type="time" ng-model="form.time[$index].value" required />
              <input type="hidden" ng-model="form.time[$index].name" ng-init = "form.time[$index].name = obj"></input>
            </label>
          <label ng-repeat="obj in text track by $index" class="item item-input item-stacked-label">
              <span class="input-label">{{obj}}</span>
              <!-- <input ng-model="form.text.name" value="obj" /> -->
              <input type="text" ng-model="form.text[$index].value" required />
              <input type="hidden" ng-model="form.text[$index].name" ng-init = "form.text[$index].name = obj"></input>
            </label>

          <label ng-repeat="obj in number track by $index" class="item item-input item-stacked-label">
              <span class="input-label">{{obj}}</span>
              <input type="number" ng-model="form.number[$index].value" required />
              <input type="hidden" ng-model="form.number[$index].name" ng-init = "form.number[$index].name = obj"></input>
            </label>


          <div class="item item-input item-select" ng-repeat="obj in selectSingle track by $index">
            <div class="input-label">
              {{obj.name}}
            </div>
            <input type="hidden" ng-model="form.selectSingle[$index].name" ng-init="form.selectSingle[$index].name = obj.name"></input>
            <select ng-model="form.selectSingle[$index].value" ng-init=" form.selectSingle[$index].value = obj.values[0]" ng-options="option for option in obj.values"></select>
          </div>

          <div class="padding">
            <div class="item " style="padding: 0px; border-width: 0px;" ng-repeat="obj in selectMulti track by $index">
              <button class="button button-block button-balanced" modal-select="" ng-model="form.selectMulti[$index].value" options="obj.values" multiple="true" modal-title="Select some numbers">{{obj.name}}
                <input type="hidden" ng-model="form.selectMulti[$index].name" ng-init = "form.selectMulti[$index].name = obj.name"></input>
                  <div class="option">
                    {{option}}
                  </div>
                </button>
                      <pre>value = {{form.selectMulti[$index].value }}</pre>
            </div>
          </div>

        </div>

        <div class="padding">
          <button class="button button-positive  button-block" ng-click="submit(form)">submit</button>
        </div>

      </form>
      <!-- <pre>form = {{form | json}}</pre> -->
    </div>

    <p style="margin:3%;">click image to delete</p>

    <div ng-repeat="tmpObj in images" style="width: 94%;margin:3%;">
      <img ng-src="{{tmpObj.value}}" style="width:90%;" ng-click="deleteImg(tmpObj.id)">
    </div>

    <!-- <pre> imgage = {{images | json }}</pre> -->
    <!-- <pre> count = {{imgCount | json }}</pre> -->




    <style type="text/css">
      .css-form input.ng-invalid.ng-touched {
        background-color: #FA787E;
      }

      .css-form input.ng-valid.ng-touched {
        background-color: #78FA89;
      }
    </style>


  </ion-content>
</ion-view>
