<ion-view view-title="ManageForm">
  <ion-content padding="true">


    <div class="list">
      <label ng-repeat="obj in submission_data.date" class="item">
          <h2>{{obj.name}}</h2>
          <p>{{obj.value}}</p>
        </label>
      <label ng-repeat="obj in submission_data.number" class="item">
            <h2>{{obj.name}}</h2>
            <p>{{obj.value}}</p>
        </label>
      <label ng-repeat="obj in submission_data.text" class="item">
              <h2>{{obj.name}}</h2>
              <p>{{obj.value}}</p>
        </label>
      <label ng-repeat="obj in submission_data.time" class="item">
                <h2>{{obj.name}}</h2>
                <p>{{obj.value}}</p>
        </label>
      <label ng-repeat="obj in submission_data.select" class="item">
                  <h2>{{obj.name}}</h2>
                  <p ng-repeat="val in obj.value">{{val}}</p>
        </label>
    </div>

    <div class="" ng-repeat="obj in photo">
      <img src="http://sciencetap.us/uploads/site{{site_id}}/{{obj.path}}" alt="" style="width: 90%;">
    </div>



  </ion-content>
</ion-view>
